@model IEnumerable<Multikino.Models.Screening>

<h2>Seanse</h2>

<table class="table">
    <tr>
        <th>Data</th>
        <th>Sala</th>
        <th>Język</th>
        <th>3D</th>
        <th></th>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.StartTime</td>
            <td>@s.Hall.Name</td>
            <td>@s.Language</td>
            <td>@(s.Is3D ? "Tak" : "Nie")</td>
            <td>
                <a asp-action="Reserve" asp-route-screeningId="@s.Id">Rezerwuj</a>
            </td>
        </tr>
    }
</table>
